@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia"');
body{font-family: 'Muli', sans-serif;
    background-image: url("paper.gif");
    background-color: #cccccc
   
}
h1{
    color: black;
}
h3:hover{
    color: #66E6FF;
}
img:hover{
    /* zoom: 1; */
    transform: scale(1.5);
    transition: 0.3s
}
.header{
    font-family: "Sofia", sans-serif;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
    border-radius: 30px;
    /* background-color:#66E6FF */
    ;
    margin-top:0;
    padding: 15px;

}
.navbar{
    display: flex;
    justify-content: space-evenly;
    z-index: 100;
    background-color: #2562f0;
    margin-bottom: 10px;
    top: 0;
}
.image > figure{
    display: flex;
    flex-direction: column;

    
}
.image{
    display: flex;
    justify-content: space-evenly;

}
a{
    color: white;
    text-decoration: none;
}
h3{
    /* font-weight: 9000; */
    font-size: x-large;

}
